
.download {
    padding: 14px;
    border: 1px solid var(--download-a-rgb);
    border-radius: 3px;
    text-align: center;
    line-height: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}

.downloadButton {
    display: block;
    padding: 11px 20px;
    border-radius: 3px;
    border: 1px solid var(--download-b-rgb);
    margin-bottom: 14px;
    font-size: 16px;
}

.downloadButton:hover {
    /* background-color: lightcoral; */
    background-color: var(--download-b-rgb);
    color: var(--background-rgb);
}

/* .download:hover .downloadButton:hover {
    background-color: orange;
    border-color: orange;
    color: var(--background-rgb);
} */

.byTheWay {
    padding: 0 16px;
    border-radius: 3px;
    /* background-color: rgba(0, 0, 0, 0.69); */
    color: var(--foreground-rgb);
    font-size: 13px;
    /* transform-origin: center; */
    /* transform: rotate(-5deg); */
}

/* .download:hover .byTheWay {
    color: var(--foreground-rgb);
    background-color: var(--background-rgb);
} */