:root {
  --section-gap: 230px;
  /* --major-break: 1280px; */
}

@media (max-width: 1280px) {
  :root {
    --section-gap: 6rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  min-height: 100vh;
}

@media (max-width: 1280px) {
  .main {
    padding: 3rem 1rem;
  }
}

.headerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.headerTop .logo {
  color: var(--foreground-rgb);
}

.intro {
  width: 860px;
  max-width: 100%;
}

.intro h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--h1-hex);
  width: 388px;
  max-width: 100%;
  margin-top: 1rem;
}

.intro h2 {
  font-size: 28px;
  /* font-weight: 400; */
  font-weight: 350;
  color: var(--h2-hex);
  margin-top: 1rem;
}

.introImg {
  display: block;
  margin: 2rem 0 0 0;
}

.introImg img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  width: 960px;
  max-width: 90%;
  margin: var(--section-gap) 0 0 0;
}

@media (max-width: 1280px) {
  section {
    grid-template-columns: 1fr;
  }

  section div {
    margin-bottom: 1rem;
  }
}

section h2 {
  font-size: 28px;
  font-weight: 370;
  margin-bottom: 1.8rem;
}

section p {
  font-size: 21px;
  font-weight: 370;
  color: rgba(var(--foreground-rgb), 0.7);
}

footer {
  margin-top: var(--section-gap);
}

.topCenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1.5rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}