

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  min-height: 100vh;
}

@media (max-width: 1280px) {
  .main {
    padding: 3rem 1rem;
  }
}

.headerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.headerTop .logo {
  color: var(--foreground-rgb);
}

.intro {
  width: 860px;
  max-width: 100%;
}

.intro h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--h1-hex);
  width: 388px;
  max-width: 100%;
  margin-top: 1rem;
}

.intro h2 {
  font-size: 28px;
  /* font-weight: 400; */
  font-weight: 350;
  color: var(--h2-hex);
  margin-top: 1rem;
}

.introImg {
  display: inline-block;
  margin: 4rem 0 0 0;
  padding: 0.5rem;
  border: solid 4px rgba(var(--foreground-rgb), 1);
  border-radius: 12px;
  /* font-size: 0; */
  line-height: 0;
}

.introImg img,
.introImg video {
  /* max-width: 90%; */
  height: auto;
  margin: 0 auto;
}

.introImg video {
  border-radius: 12px;
  box-shadow: 0 2px 38px 0 rgba(125,94,60,0.15);
}

.main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  width: 960px;
  max-width: 90%;
  margin: var(--section-gap) 0 0 0;
}

@media (max-width: 1280px) {
  .main section {
    grid-template-columns: 1fr;
  }

  .main section div {
    margin-bottom: 1rem;
  }
}

.main section h2 {
  font-size: 28px;
  font-weight: 370;
  margin-bottom: 1.8rem;
}

.main section p {
  font-size: 21px;
  font-weight: 370;
  color: rgba(var(--foreground-rgb), 0.7);
}

.main footer {
  margin-top: var(--section-gap);
}

.topCenter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1.5rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stitched {
  border: 2px solid currentColor;
}

.floating {
  border-radius: 2rem;
  box-shadow: 0 1rem 3rem #0000001a;  
}
